Repository yhzion/ptt-dictation: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-clippy, rust-test, ts-lint, ts-typecheck, ts-format, ts-test, kotlin-lint

rust-fmt:
  run: cd desktop && cargo fmt --manifest-path src-tauri/Cargo.toml --check

rust-clippy:
  run: cd desktop && cargo clippy --manifest-path src-tauri/Cargo.toml -- -D warnings

rust-test:
  run: cd desktop && cargo test --manifest-path src-tauri/Cargo.toml

ts-lint:
  run: cd desktop && pnpm lint

ts-typecheck:
  run: cd desktop && pnpm typecheck

ts-format:
  run: cd desktop && pnpm format:check

ts-test:
  run: cd desktop && pnpm test -- --run

kotlin-lint:
  run: cd android && ./gradlew ktlintCheck

chore: add .lefthook-local/ to gitignore, track docs and CLAUDE.md
  .gitignore
  CLAUDE.md
  docs/plans/2026-02-24-ptt-dictation-poc-design.md
  docs/plans/2026-02-24-ptt-dictation-poc-plan.md
Due: none

feat: add protocol message types with serialization tests
  desktop/src-tauri/src/lib.rs
  desktop/src-tauri/src/protocol.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add client registry with lifecycle management tests
  desktop/src-tauri/src/client_registry.rs
  desktop/src-tauri/src/lib.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add trait-based text injection with mock for testing
  desktop/src-tauri/src/injection.rs
  desktop/src-tauri/src/lib.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add WebSocket server with protocol dispatch and injection integration
  desktop/src-tauri/src/lib.rs
  desktop/src-tauri/src/ws_server.rs
Due: rust-fmt, rust-clippy, rust-test

feat: wire up Tauri app with WS server, registry, and injection
  desktop/src-tauri/src/lib.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add TypeScript message types, state management, and Tauri event hooks
  desktop/eslint.config.js
  desktop/src/hooks/useTauriEvents.ts
  desktop/src/types/messages.test.ts
  desktop/src/types/messages.ts
  lefthook.yml
Due: ts-lint, ts-typecheck, ts-format, ts-test

feat: add DictationView component with partial/final text display
  desktop/src/components/DictationView.test.tsx
  desktop/src/components/DictationView.tsx
Due: ts-lint, ts-typecheck, ts-format, ts-test

feat: add ClientList component with selection and status indicators
  desktop/src/components/ClientList.test.tsx
  desktop/src/components/ClientList.tsx
Due: ts-lint, ts-typecheck, ts-format, ts-test

feat: add App layout with Settings, ClientList, and DictationView
  desktop/src/App.test.tsx
  desktop/src/App.tsx
  desktop/src/components/Settings.test.tsx
  desktop/src/components/Settings.tsx
Due: ts-lint, ts-typecheck, ts-format, ts-test

feat: add mock client script for desktop testing
  package.json
  pnpm-lock.yaml
  scripts/mock-client.ts
Due: none

chore: scaffold Android app with Compose, OkHttp, kotlinx-serialization
  android/.gitignore
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/ptt/dictation/MainActivity.kt
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/themes.xml
  android/app/src/test/java/com/ptt/dictation/PlaceholderTest.kt
  android/build.gradle.kts
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.jar
  android/gradle/wrapper/gradle-wrapper.properties
  android/gradlew
  android/gradlew.bat
  android/settings.gradle.kts
  lefthook.yml
Due: kotlin-lint

feat: add Android message model and WebSocket interface with tests
  android/app/src/main/java/com/ptt/dictation/model/PttMessage.kt
  android/app/src/main/java/com/ptt/dictation/ws/WebSocketManager.kt
  android/app/src/test/java/com/ptt/dictation/model/MessageTest.kt
  android/app/src/test/java/com/ptt/dictation/ws/WebSocketManagerTest.kt
Due: kotlin-lint

feat: add ThrottleDeduper and STT interfaces with tests
  android/app/src/main/java/com/ptt/dictation/stt/STTManager.kt
  android/app/src/main/java/com/ptt/dictation/stt/ThrottleDeduper.kt
  android/app/src/test/java/com/ptt/dictation/stt/ThrottleDeduperTest.kt
Due: kotlin-lint

feat: add Android PttScreen, PttUiState, and Compose UI tests
  android/app/build.gradle.kts
  android/app/src/androidTest/java/com/ptt/dictation/ui/PttScreenTest.kt
  android/app/src/main/java/com/ptt/dictation/ui/PttScreen.kt
  android/app/src/main/java/com/ptt/dictation/ui/PttViewModel.kt
  android/app/src/test/java/com/ptt/dictation/ui/PttViewModelTest.kt
Due: kotlin-lint

feat: add PttForegroundService with notification management
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/ptt/dictation/service/PttForegroundService.kt
Due: kotlin-lint

docs: add project README, sub-project docs, and protocol spec
  README.md
  android/README.md
  desktop/README.md
  docs/protocol-spec.md
Due: none

feat: wire Android integration with OkHttp WebSocket, SpeechRecognizer STT, and ViewModel
  android/app/src/main/java/com/ptt/dictation/MainActivity.kt
  android/app/src/main/java/com/ptt/dictation/stt/SpeechRecognizerSTTEngine.kt
  android/app/src/main/java/com/ptt/dictation/ui/PttViewModel.kt
  android/app/src/main/java/com/ptt/dictation/ws/OkHttpWebSocketClient.kt
Due: kotlin-lint

fix: resolve E2E integration bugs for real device PTT dictation
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/ptt/dictation/MainActivity.kt
  android/app/src/main/java/com/ptt/dictation/stt/SpeechRecognizerSTTEngine.kt
  android/app/src/main/java/com/ptt/dictation/ui/PttViewModel.kt
  android/app/src/main/java/com/ptt/dictation/ws/OkHttpWebSocketClient.kt
  desktop/src-tauri/src/injection.rs
  desktop/src-tauri/src/lib.rs
Due: rust-fmt, rust-clippy, rust-test, kotlin-lint

docs: add production-ready design for native macOS + BLE architecture
  docs/plans/2026-02-24-production-ready-design.md
Due: none

docs: add production-ready implementation plan (BLE + Swift native)
  docs/plans/2026-02-24-production-ready-plan.md
Due: none

chore: add .worktrees/ to .gitignore
  .gitignore
Due: none

feat(macos): scaffold Swift menu bar app with NSStatusItem
  macos/Package.swift
  macos/Sources/App/AppDelegate.swift
  macos/Sources/App/Resources/Info.plist
  macos/Sources/App/main.swift
Due: none

chore: add .build/ to .gitignore for Swift Package Manager
  .gitignore
Due: none

feat(macos): add BLE constants and message protocol model
  macos/Sources/App/BLE/BLEConstants.swift
  macos/Sources/App/BLE/BLEMessage.swift
  macos/Tests/BLEMessageTests.swift
Due: none

feat(macos): add CoreBluetooth peripheral manager with GATT service
  macos/Sources/App/BLE/BLEPeripheralManager.swift
  macos/Tests/BLEPeripheralManagerTests.swift
Due: none

feat(macos): add text injection via clipboard + Cmd+V (CGEvent)
  macos/Sources/App/TextInjection/TextInjector.swift
  macos/Tests/TextInjectorTests.swift
Due: none

feat(macos): wire BLE peripheral + text injection into menu bar app
  macos/Sources/App/AppDelegate.swift
Due: none

feat(android): add BLE permissions and shared GATT constants
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/ptt/dictation/ble/BLEConstants.kt
Due: kotlin-lint

feat(android): add PttTransport interface and BleMessageEncoder
  android/app/src/main/java/com/ptt/dictation/ble/BleTransport.kt
  android/app/src/test/java/com/ptt/dictation/ble/BleTransportTest.kt
Due: kotlin-lint

feat(android): add BleCentralClient BLE Central implementation
  android/app/src/main/java/com/ptt/dictation/ble/BleCentralClient.kt
Due: kotlin-lint

feat(android): replace WebSocket with PttTransport in ViewModel and UI
  android/app/src/androidTest/java/com/ptt/dictation/ui/PttScreenTest.kt
  android/app/src/main/java/com/ptt/dictation/MainActivity.kt
  android/app/src/main/java/com/ptt/dictation/ui/PttScreen.kt
  android/app/src/main/java/com/ptt/dictation/ui/PttViewModel.kt
  android/app/src/test/java/com/ptt/dictation/ui/PttViewModelTest.kt
Due: kotlin-lint

fix(android): add BLE runtime permission requests for Android 12+
  android/app/src/main/java/com/ptt/dictation/MainActivity.kt
Due: kotlin-lint

docs: update protocol spec and README for BLE + Swift native architecture
  README.md
  docs/protocol-spec.md
Due: none

refactor: remove WebSocket legacy code, move ConnectionState to ble package
  android/app/build.gradle.kts
  android/app/src/androidTest/java/com/ptt/dictation/ui/PttScreenTest.kt
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/ptt/dictation/ble/BleCentralClient.kt
  android/app/src/main/java/com/ptt/dictation/ble/BleTransport.kt
  android/app/src/main/java/com/ptt/dictation/ui/PttScreen.kt
  android/app/src/main/java/com/ptt/dictation/ui/PttViewModel.kt
  android/app/src/main/java/com/ptt/dictation/ws/OkHttpWebSocketClient.kt
  android/app/src/main/java/com/ptt/dictation/ws/WebSocketManager.kt
  android/app/src/test/java/com/ptt/dictation/ble/BleTransportTest.kt
  android/app/src/test/java/com/ptt/dictation/ui/PttViewModelTest.kt
  android/app/src/test/java/com/ptt/dictation/ws/WebSocketManagerTest.kt
Due: kotlin-lint

feat(android): OLED-optimized UI with pixel shifting, haptic feedback, and PTT improvements
  android/app/src/androidTest/java/com/ptt/dictation/ui/PttScreenTest.kt
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/ptt/dictation/MainActivity.kt
  android/app/src/main/java/com/ptt/dictation/ble/BleCentralClient.kt
  android/app/src/main/java/com/ptt/dictation/stt/SpeechRecognizerSTTEngine.kt
  android/app/src/main/java/com/ptt/dictation/ui/PttScreen.kt
  android/app/src/main/java/com/ptt/dictation/ui/PttViewModel.kt
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  android/app/src/main/res/values/themes.xml
Due: kotlin-lint

chore: convert all Korean text to English across codebase
  CLAUDE.md
  README.md
  android/README.md
  android/app/src/androidTest/java/com/ptt/dictation/ui/PttScreenTest.kt
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/ptt/dictation/MainActivity.kt
  android/app/src/main/java/com/ptt/dictation/service/PttForegroundService.kt
  android/app/src/main/java/com/ptt/dictation/ui/PttScreen.kt
  android/app/src/test/java/com/ptt/dictation/ble/BleTransportTest.kt
  android/app/src/test/java/com/ptt/dictation/model/MessageTest.kt
  desktop/README.md
  desktop/src-tauri/src/protocol.rs
  desktop/src/App.test.tsx
  desktop/src/components/ClientList.test.tsx
  desktop/src/components/ClientList.tsx
  desktop/src/components/DictationView.test.tsx
  desktop/src/components/DictationView.tsx
  desktop/src/components/Settings.test.tsx
  desktop/src/components/Settings.tsx
  docs/protocol-spec.md
  macos/Tests/BLEMessageTests.swift
  macos/Tests/BLEPeripheralManagerTests.swift
  macos/Tests/TextInjectorTests.swift
  scripts/mock-client.ts
Due: rust-fmt, rust-clippy, rust-test, ts-lint, ts-typecheck, ts-format, ts-test, kotlin-lint

feat(macos): add status bar connection indicator and preferences
  macos/Sources/App/AppDelegate.swift
  macos/Sources/App/Preferences.swift
  macos/Sources/App/PreferencesWindow.swift
  macos/Sources/App/TextInjection/TextInjector.swift
Due: none

Path conditions:
  rust-fmt: any of: desktop/src-tauri/**/*.rs
  rust-clippy: any of: desktop/src-tauri/**/*.rs
  rust-test: any of: desktop/src-tauri/**/*.rs
  ts-lint: any of: desktop/src/**/*.{ts,tsx}
  ts-typecheck: any of: desktop/src/**/*.{ts,tsx}
  ts-format: any of: desktop/src/**/*.{ts,tsx}
  ts-test: any of: desktop/src/**/*.{ts,tsx}
  kotlin-lint: any of: android/**/*.kt
